!!! 5
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 
    script(type='text/javascript', src='./script/jquery.js')
    script(type='text/javascript', src='./script/backbone.js')
      
    link(rel='stylesheet', type='text/css', href='./style/page.css')
    script(type='text/javascript', src='./script/page.js')
    
  body#viewport
    #header
      .container
        a#logo(href='#')
        a#control.server-stopped(href='#')
          .icon
            .circle
            .img
          span.text.text-running.i18n(text='running') Running
          span.text.text-stopped.i18n(text='stopped') Stopped
          span.text.text-paused.i18n(text='paused') Paused
        .box-ver V2.0
        ul.box-nav
          li: a.nav-logout.i18n(href='#logout',text='extension') 登出
          li.separation
          li: a.nav-ext.i18n(href='https://chrome.google.com/webstore/detail/ljciphafakdahicbelljmdbnadjopffb',target='_blank',text='extension') 扩展程序
          li.separation
          li: a.nav-clear.i18n(href='#',text='clear') 清除
          li: a.nav-refresh.i18n(href='#',text='refresh') 重新整理
    #toolbar
      .container
        .toolbar
          ul
            li.cancel
              span 停止已勾選
              span.left
              span.right
            li.reload
              span 重載已勾選
              span.left
              span.right
            li.remove
              span 刪除已勾選
              span.left
              span.right
        table.subject
          tr
            th.choose: span v
            th.thumb: span 縮圖
            th.name: span 標題
            th.percentage: span 進度
            th.size: span 檔案大小
            th.owner: span 擁有人
            th.src: span 來源
            th.quality: span 畫質
            th.btn-cancel: span 放棄
            th.btn-reload: span 重載
            th.btn-remove: span 刪除
            th.add_time: span 加入日期
    #contents
      .container
        table.list
          tr.item
            td.choose: span
            td.thumb: span
            td.name
              span.group
              span.title
            td.percentage
              span.progress: .bar
              span.status
            td.size: span
            td.owner: span
            td.src: span: a(target="_blank")
            td.quality: span
            td.btn-cancel: a
            td.btn-reload: a
            td.btn-remove: a
            td.add_time: span
    #fixed
      .login
        .form-horizontal
          .input.input-username
            .left
            .right
            i.icon-user
            input#username(type='text', placeholder='Username')
          .input.input-password
            .left
            .right
            i.icon-lock
            input#password(type='password', placeholder='Password')
          .message *Invalid username or password
          .toolbar
            label.remember
              | Remember me
            button#login-submit(type='submit').pull-right SIGN IN
        .tipbox
          label Login...
