!!! 5
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 抓抓乐2
    link(rel="shortcut icon", href="./favicon.ico")
    script(type='text/javascript', src='./script/jquery.js')
    script(type='text/javascript', src='./script/backbone.js')
      
    link(rel='stylesheet', type='text/css', href='./style/page.css')
    script(type='text/javascript', src='./script/page.js')
    
  body#viewport.guest.happyget_cn
    #header
      .container
        a#logo(href='#')
        a#control.server-stopped(href='#')
          .icon
            .circle
            .img
          span.text.text-running.i18n(text='running') 运行
          span.text.text-stopped.i18n(text='stopped') 停止
          span.text.text-paused.i18n(text='paused') 暂停
        .box-ver V2.0
        ul.box-nav
          li: a.nav-logout.i18n(href='#logout',text='extension') 退出
          li.separation
          li: a.nav-ext.i18n(href='https://chrome.google.com/webstore/detail/edheddcjmegdokophlkkojeebplifkha',target='_blank',text='extension') 扩展程序
          li.separation
          li: a.nav-clear.i18n(href='#',text='clear') 清除
          li: a.nav-refresh.i18n(href='#',text='refresh') 刷新
    #toolbar
      .container
        .toolbar
          ul
            li.cancel
              span 取消已勾選
              span.left
              span.right
            li.reload
              span 重载已勾選
              span.left
              span.right
            li.remove
              span 删除已勾選
              span.left
              span.right
        .subject
          .item
            .column.choose: span v
            .column.thumb: span 缩图
            .column.name: span 标题
            .column.percentage: span 进度
            .column.size: span 文件大小
            .column.owner: span 所有者
            .column.src: span 来源
            .column.quality: span 质量
            .column.btn-cancel: span 取消
            .column.btn-reload: span 重载
            .column.btn-remove: span 删除
            .column.add_time: span 添加日期
    #contents
      .container
        .list
          .item
            .column.choose: span
            .column.thumb: span
            .column.name
              span.group
              span.title
            .column.percentage
              span.progress: .bar
              span.status
            .column.size: span
            .column.owner: span
            .column.src: span: a(target="_blank")
            .column.quality: span
            .column.btn-cancel: a
            .column.btn-reload: a
            .column.btn-remove: a
            .column.add_time: span
    #fixed
      .login
        .form-horizontal
          .input.input-username
            .left
            .right
            i.icon-user
            input#username(type='text', placeholder='用户名')
          .input.input-password
            .left
            .right
            i.icon-pwd
            input#password(type='password', placeholder='密码')
          .message *用户名或密码錯誤
          .toolbar
            label.remember
              | 记住用户名及密码
            button#login-submit(type='submit').pull-right 登录
        .tipbox
          label Login...
    #dialog-chrome.dialog
      p 
        | Your browser is not 
        b &nbsp;Google Chrome&nbsp;
        | , displaying may be incorrect or unsmooth.
      p
        | Would you like to use
        b &nbsp;Google Chrome&nbsp;
        | ?
      .input
        input.donot(type='checkbox')
        span Don’t show this message again.
      .btn-bar
        a.btn(href="#") No, Continue
        a.btn.btn-primary(href="http://chrome.google.com/",target="_blank") Yes, Go get it
    #dialog-ext.dialog
      p 
        b HappyGet2 Extension&nbsp;
        | is not installed, and you would be able to view the download status only.
      p
        | Would you like to install 
        b &nbsp;HappyGet2 Extension&nbsp;
        | ?
      .input
        input.donot(type='checkbox')
        span Don’t show this message again.
      .btn-bar
        a.btn(href='#') No, Continue
        a.btn.btn-primary(href="https://chrome.google.com/webstore/detail/edheddcjmegdokophlkkojeebplifkha",target="_blank") Yes, Go get it
    #dialog-qpkg.dialog
      p 
        b HappyGet2 QPKG/App &nbsp;
        | is not started.
      p 
        | Please go to
        b &nbsp;QPKG/App Center&nbsp;
        | and enable it.
      .btn-bar
        a.btn.btn-primary(href='./api/go_server.php',target='_blank') Go to QPKG Center
    #dialog-error.dialog
      p
        b HappyGet2&nbsp;
        | Server is not running correctly.
      p
        | Please go to 
        b &nbsp;QPKG/App Center&nbsp;
        | and restart it.
      .btn-bar
        a.btn.btn-primary(href='./api/go_server.php',target='_blank') Go to QPKG Center
